<div class="chart-grid">
  <div class="parent">
    <div class="child-1">
      <div class="chart-wrapper">
        <canvas class="chart" baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [options]="doughnutChartOptions"
                [colors]="doughnutChartColors">
        </canvas>
      </div>
    </div>
    <div class="child-2">
      <div class="diff">
        <div *ngFor="let user of userWithDeptMonth" class="diff-{{user.userName}}">
          <h6>{{user.diff | number: '1.2-2'}}€</h6>
          <p>{{user.userName | titlecase}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="child-1">
      <div class="chart-wrapper">
        <canvas class="chart" baseChart
                [data]="doughnutChartDataYear"
                [labels]="doughnutChartLabelsYear"
                [chartType]="doughnutChartTypeYear"
                [options]="doughnutChartOptionsYear"
                [colors]="doughnutChartColorsYear">
        </canvas>
      </div>
    </div>
    <div class="child-2">
      <div class="diff">
        <div *ngFor="let user of userWithDeptYear" class="diff-{{user.userName}}">
          <h6>{{user.diff | number: '1.2-2'}}€</h6>
          <p>{{user.userName | titlecase}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div [routerLink]="['add']" class="plus-symbol">
  <div class="add">
    <i class="fas fa-plus"></i>
  </div>
</div>


<div style="display: none;" class="table-wrapper mb-3">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Monat</th>
        <th scope="col">Sven</th>
        <th scope="col">Montse</th>
        <th scope="col">Diff-Sven</th>
        <th scope="col">Diff-Montse</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Januar</td>
        <td>2345€</td>
        <td>2543€</td>
        <td>-99€</td>
        <td>99€</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-wrapper">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Beschreibung</th>
        <th scope="col">Datum</th>
        <th scope="col">Betrag</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Aktion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of cartlist; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{cart.userName | titlecase }}</td>
        <td>{{cart.description}}</td>
        <td>{{cart.datePurchased}}</td>
        <td>{{cart.price | currency: 'EUR'}}</td>
        <td>{{cart.categoryName}}</td>
        <td  colspan="2">
          <div *ngIf="cart.userName == getCurrentUser()" class="d-flex justify-content-around">
            <a [routerLink]="['edit/', cart.id]">
              <i class="fas fa-pen"></i>
            </a>
            <a (click)="onDelete(cart.id, cart.price)">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary btn-sm" (click)="exportExcel()">Excel Export</button>
</div>
