<div [routerLink]="['/budget-app/spendings/add']" class="plus-symbol">
  <div class="add">
    <i class="fas fa-plus"></i>
  </div>
</div>

<div id="main-container" class="table-wrapper">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Beschreibung</th>
        <th scope="col">Datum</th>
        <th scope="col">Betrag</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Aktion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of cartlist; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{cart.userName | titlecase }}</td>
        <td>{{cart.description}}</td>
        <td>{{cart.datePurchased}}</td>
        <td>{{cart.price | currency: 'EUR'}}</td>
        <td>{{cart.categoryName}}</td>
        <td colspan="2">
          <div *ngIf="cart.userName == getCurrentUser()" class="d-flex justify-content-around">
            <a [routerLink]="['/budget-app/spendings/edit/', cart.id]">
              <i class="fas fa-pen"></i>
            </a>
            <!-- <a (click)="onDelete(cart.id, cart.price, cart.description)">
              <i class="far fa-trash-alt"></i>
            </a> -->
            <a (click)="onOpenModal(cart, 'delete')" class="tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary btn-sm" (click)="exportExcel()">Excel Export</button>
</div>

<app-footer></app-footer>

<!-- Delete Modal -->
<div class="modal fade" id="deleteCartModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Eintrag löschen?</h5>
           <div type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="fas fa-times"></i>
           </div>
        </div>
        <div class="modal-body">
           <p> <strong>Datum:</strong> {{deleteCart?.datePurchased}}</p>
           <p> <strong>Beschreibung:</strong> {{deleteCart?.description}}</p>
           <p> <strong>Betrag:</strong> {{deleteCart?.price | currency: 'EUR'}}</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Nein</button>
              <button (click)="onDelete(deleteCart?.id)" class="btn btn-primary" data-dismiss="modal">Ja</button>
           </div>
        </div>
     </div>
  </div>
</div>