
<div class="chart-info-box">
  <div class="chart-parent">
    <div class="child1">
      <canvas class="chart" baseChart
              [data]="doughnutChartDataYear"
              [labels]="doughnutChartLabelsYear"
              [chartType]="doughnutChartTypeYear"
              [options]="doughnutChartOptionsYear"
              [colors]="doughnutChartColorsYear">
      </canvas>
    </div>
    <div class="child2">
      <div class="diff">
        <div *ngFor="let user of userDeptYear" class="diff-{{user.userName}}">
          <h6 *ngIf="user.userName != 'none'" class="value-{{user.userName}}">{{user.diff | currency: 'EUR': number: '1.2-2': 'de'}}</h6>
          <p *ngIf="user.userName != 'none'">{{user.userName | titlecase}}</p>
          <p *ngIf="user.userName == 'none'">{{user.msg}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="info-box" *ngFor="let user of userDeptYear">
    <div class="d-flex justify-content-between">
      <p style="color: grey; font-size: smaller">Sven</p>
      <p style="font-size: smaller; font-weight: bold">{{user.totalS | currency: 'EUR': number: '1.2-2': 'de'}}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p style="color: grey; font-size: smaller">Montse</p>
      <p style="font-size: smaller; font-weight: bold">{{user.totalM | currency: 'EUR': number: '1.2-2': 'de'}}</p>
    </div>
    <div>
      <p style="color: grey; font-size: smaller; margin-top: 12px;">Gesamtausgaben</p>
      <h6 style="font-size: 1.2rem; font-weight: bold;">{{user.total | currency: 'EUR': number: '1.2-2': 'de'}}</h6>
    </div>
  </div>
</div>


<div [routerLink]="['add']" class="plus-symbol">
  <div class="add">
    <i class="fas fa-plus"></i>
  </div>
</div>

<div class="table-wrapper mb-3">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">{{getCurrentYear()}}</th>
        <th scope="col">Sven</th>
        <th scope="col">Montse</th>
        <th scope="col">&Delta;&nbsp;Ausgaben</th>
        <!-- <th scope="col">&Delta;&nbsp;Montse</th> -->
        <th scope="col">Gesamt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of userSpendingsMonthly">
        <td>{{months[cart.month - 1]}}</td>
        <td>{{cart.sumSven | currency: 'EUR': number: '1.2-2': 'de'}}</td>
        <td>{{cart.sumMontse | currency: 'EUR': number: '1.2-2': 'de'}}</td>
        <td [ngStyle]="cssSven" *ngIf="cart.diffSven < 0">{{cart.diffSven | currency: 'EUR': number: '1.2-2': 'de'}}</td>
        <!-- <td *ngIf="cart.diffSven >= 0">--</td> -->
        <td [ngStyle]="cssMontse" *ngIf="cart.diffMontse < 0">{{cart.diffMontse | currency: 'EUR': number: '1.2-2': 'de'}}</td>
        <!-- <td *ngIf="cart.diffMontse >= 0">--</td> -->
        <td *ngIf="cart.diffMontse == 0 && cart.diffSven == 0">€0.00</td>
        <td>{{cart.total | currency: 'EUR': number: '1.2-2': 'de'}}</td>
      </tr>
    </tbody>
  </table>
  <button *ngIf="getCurrentMonth() + 1 == 12" class="btn btn-primary btn-sm" (click)="exportExcel()">Excel Export</button>
</div>

<app-footer></app-footer>