<div class="chart-grid">
  <div class="parent">
    <div class="child-1">
      <div class="chart-wrapper">
        <canvas class="chart" baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [options]="doughnutChartOptions"
                [colors]="doughnutChartColors">
        </canvas>
      </div>
    </div>
    <div class="child-2">
      <div class="diff">
        <div *ngFor="let user of userDeptMonth" class="diff-{{user.userName}}">
          <h6 *ngIf="user.userName != 'none'">{{user.diff | currency: 'EUR': number: '1.2-2'}}</h6>
          <p *ngIf="user.userName != 'none'">{{user.userName | titlecase}}</p>
          <p *ngIf="user.userName == 'none'">{{user.msg}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="child-1">
      <div class="chart-wrapper">
        <canvas class="chart" baseChart
                [data]="doughnutChartDataYear"
                [labels]="doughnutChartLabelsYear"
                [chartType]="doughnutChartTypeYear"
                [options]="doughnutChartOptionsYear"
                [colors]="doughnutChartColorsYear">
        </canvas>
      </div>
    </div>
    <div class="child-2">
      <div class="diff">
        <div *ngFor="let user of userDeptYear" class="diff-{{user.userName}}">
          <h6 *ngIf="user.userName != 'none'">{{user.diff | currency: 'EUR': number: '1.2-2'}}</h6>
          <p *ngIf="user.userName != 'none'">{{user.userName | titlecase}}</p>
          <p *ngIf="user.userName == 'none'">{{user.msg}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div [routerLink]="['add']" class="plus-symbol">
  <div class="add">
    <i class="fas fa-plus"></i>
  </div>
</div>

<div class="table-wrapper mb-3">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">{{getCurrentYear()}}</th>
        <th scope="col">Sven</th>
        <th scope="col">Montse</th>
        <th scope="col">&Delta;&nbsp;Ausgaben</th>
        <!-- <th scope="col">&Delta;&nbsp;Montse</th> -->
        <th scope="col">Gesamt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of userSpendingsMonthly">
        <td>{{months[cart.month - 1]}}</td>
        <td>{{cart.sumSven | currency: 'EUR': number: '1.2-2'}}</td>
        <td>{{cart.sumMontse | currency: 'EUR': number: '1.2-2'}}</td>
        <td [ngStyle]="cssSven" *ngIf="cart.diffSven < 0">{{cart.diffSven | currency: 'EUR': number: '1.2-2'}}</td>
        <!-- <td *ngIf="cart.diffSven >= 0">--</td> -->
        <td [ngStyle]="cssMontse" *ngIf="cart.diffMontse < 0">{{cart.diffMontse | currency: 'EUR': number: '1.2-2'}}</td>
        <!-- <td *ngIf="cart.diffMontse >= 0">--</td> -->
        <td *ngIf="cart.diffMontse == 0 && cart.diffSven == 0">€0.00</td>
        <td>{{cart.total | currency: 'EUR': number: '1.2-2'}}</td>
      </tr>
    </tbody>
    <tbody style="border-top: 1.5px solid;">
      <tr *ngFor="let user of userDeptYear" style="font-size: 12px; font-weight: bold;">
        <th>Gesamt:</th>
        <th>{{user.totalS | currency: 'EUR': number: '1.2-2'}}</th>
        <th>{{user.totalM | currency: 'EUR': number: '1.2-2'}}</th>
        <th [ngStyle]="cssSven" *ngIf="user.userName == 'sven'">{{user.diff | currency: 'EUR': number: '1.2-2'}}</th>
        <th [ngStyle]="cssMontse" *ngIf="user.userName == 'montse'">{{user.diff | currency: 'EUR': number: '1.2-2'}}</th>
        <th>{{user.total | currency: 'EUR': number: '1.2-2'}}</th>
      </tr>
    </tbody>
  </table>
  <button *ngIf="getCurrentMonth() + 1 == 12" class="btn btn-primary btn-sm" (click)="exportExcel()">Excel Export</button>
</div>

<app-footer></app-footer>