<div class="chart-grid">
  <div class="parent">
    <div class="child-1">
      <div class="chart-wrapper">
        <canvas class="chart" baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [options]="doughnutChartOptions"
                [colors]="doughnutChartColors">
        </canvas>
      </div>
    </div>
    <div class="child-2">
      <div class="diff">
        <div *ngFor="let user of userDeptMonth" class="diff-{{user.userName}}">
          <h6>{{user.diff | number: '1.2-2'}}€</h6>
          <p>{{user.userName | titlecase}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="child-1">
      <div class="chart-wrapper">
        <canvas class="chart" baseChart
                [data]="doughnutChartDataYear"
                [labels]="doughnutChartLabelsYear"
                [chartType]="doughnutChartTypeYear"
                [options]="doughnutChartOptionsYear"
                [colors]="doughnutChartColorsYear">
        </canvas>
      </div>
    </div>
    <div class="child-2">
      <div class="diff">
        <div *ngFor="let user of userDeptYear" class="diff-{{user.userName}}">
          <h6>{{user.diff | number: '1.2-2'}}€</h6>
          <p>{{user.userName | titlecase}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div [routerLink]="['add']" class="plus-symbol">
  <div class="add">
    <i class="fas fa-plus"></i>
  </div>
</div>

<div class="table-wrapper mb-3">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">{{getCurrentYear()}}</th>
        <th scope="col">Sven</th>
        <th scope="col">Montse</th>
        <th scope="col">&Delta;&nbsp;Sven</th>
        <th scope="col">&Delta;&nbsp;Montse</th>
        <th scope="col">Gesamt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of userSpendingsMonthly">
        <td>{{months[cart.month - 1]}}</td>
        <td>{{cart.sumSven | number: '1.2-2'}}€</td>
        <td>{{cart.sumMontse | number: '1.2-2'}}€</td>
        <td *ngIf="cart.diffSven < 0">{{cart.diffSven | number: '1.2-2'}}€</td>
        <td *ngIf="cart.diffSven >= 0">--</td>
        <td *ngIf="cart.diffMontse < 0">{{cart.diffMontse | number: '1.2-2'}}€</td>
        <td *ngIf="cart.diffMontse >= 0">--</td>
        <td>{{cart.total | number: '1.2-2'}}€</td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>