:host {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.loading-spinner {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5rem solid rgba(93, 167, 213, 1);
  border-bottom: 0.5rem solid rgb(142, 94, 162);
  animation: spinner 1s infinite ease-in-out;
}

@keyframes spinner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}