.delete-item {
  text-align: center;
  i {
    cursor: pointer;
  }
}

.done {
  text-decoration: line-through;
  text-decoration-color: #D00000;
  // text-decoration-color: #DD1C1A;
  text-decoration-thickness: 1.5px;
  color: #999;
}